<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="filtrarProdutos($event)"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let produto of produtos | async" [ngClass]="{'item-inactive': !produto.ativo }">

      <ion-card-header>
        <h1>{{ produto.nome }}</h1>
        <p>{{ getCategoriaDescricao(produto.categoria) }}</p>
      </ion-card-header>

      <ion-card-content>
        {{ produto.descricao }}
        <div margin-top>{{ getTamanhoDescricao(produto.tamanho) }}</div>
        <div>{{ produto.preco | currency:'BRL' }}</div>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="editProduto(produto)">
            <ion-icon name="create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-left clear small (click)="remover(produto.key, produto.nome)" color="danger">
            <ion-icon name="trash"></ion-icon>
            <div>Excluir</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addProduto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
